body {
    font-family: Helvetica;
    background-color: purple;
    font-size: 200%;
    color: gold;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
head{
    font-family: Helvetica;
}



.container {
  width: 800px;
  max-width: 80%;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}
img {
      width:50%;
      height:50%;
      position: center;

}
